.outerDiv{
    position: relative;
}

.searchOuterDiv{
    position: absolute;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    top:18rem;
    left:50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
}
.searchDiv div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1da1f2; */
    padding:1rem 4rem;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    /* margin:1rem */
}
/* .searchDiv input{
    width: 55%;
    border:0;
    padding: 2rem;
    border-radius: 10px;
    font-size: 17px;
    border-bottom: 0px solid grey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: 'DM Sans', sans-serif;

} */
/* .searchDiv input :focus{
    width: 60%;
    border:0;
    outline: none;
} */
.cardsDiv{
    margin: 15rem 5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* width: 30%; */
    background-color: aliceblue;
    position: relative;
    text-align: center;
    padding-bottom: 2rem;
    border-radius: 10px;
    margin:2rem 1rem;
    flex-basis: 30.333333%
}
.cardImageDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%rem;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
}
.cardImage{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.cardName{
    margin-top: 6rem;
}
.skillsDiv{
    display: flex;
    padding:1rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skill{
    background-color: #FAF3E3;
    padding: 0.3rem 0.7rem;
    color: gray;
    border-radius: 10px;
    margin:0.5rem 1rem;
}

